@import '../../../assets/scss/_variables';

h1{
	font-size: 50px !important;
	font-weight: 800 !important;
	margin-bottom: 15px !important;
}
.get_start_btn{
	margin-top: 15px;	
	padding-left: 50px !important;
    padding-right: 50px !important;
    font-weight: 500 !important;
}
