.sign_up {
  width: 500px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.checkbox {
  margin-top: 6px !important;
}
.termsAndCondtionErrMessage {
  margin-left: -20px;
}
.circle {
  padding: 12px;
  background-color: blue;
  border-radius: 50%;
  margin-bottom: 10px;
}
