@import '../../../assets/scss/_variables';

.sign_up {
  width: 500px;
  margin: auto;
  margin-top:60px;
  margin-bottom: 100px;
}
.checkbox {
  margin-top: 6px !important;
}
.termsAndCondtionErrMessage {
  margin-left: -20px;
}
.circle {
  padding: 12px;
  background-color:$primary;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card{
  border: 1px solid $primary!important;
  border-radius: 0px !important;
}
.card-header{
  background-color: $primary!important;
  color: $white;
  padding-top: 18px !important;
  padding-left:45px !important;
  
}
input{
  border-color:$primary!important;
}
label{
  font-weight: 500;
}
select{
  border-color:$primary!important;
}
