@import '../../../assets/scss/_variables';
	
		
			li {
				.link {
					color: rgba(255,255,255,.55);
					text-decoration: none!important;
					background-color: transparent;
					transition: background-color 0.5s ease-in-out;
					&:hover {
						color:white;
					}
				}
				.active {
					color:white;
				}
				&:not(:last-of-type) {
					padding-right: 10px;
				}
			}
		
